protobuf
paho-mqtt
python-dotenv
mcp[cli]
mcp-server
openai
mcp
mysql-connector-python
llama-index
llama-index-vector-stores-postgres
llama_index.llms.siliconflow 
llama_index.llms.openai_like
fastapi 
uvicorn
sse-starlette 
httpx